.calendarWrapper {
  background-color: #272829;
  position: absolute;
  right: 0;
  top: 150px;
  width: 700px;
  height: 100vh;
}
.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 467px;
  text-align: center;
  margin-left: 20%;
  margin-top: 200px;

  .header {
    font-size: 19px;
    color: #dfdfdf;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .previous {
      flex: 1;
      text-align: left;
      margin-left: 1rem;
    }

    .next {
      flex: 1;
      text-align: right;
      margin-right: 1rem;
    }
  }

  .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    div {
      color: #dfdfdf;
      opacity: 1;
      width: 52px;
      height: 51px;
      box-shadow: 0px 0px 25px #0000000d;
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 110px;
      &:active {
        background: #fdd000;
        color: #3d3d3d;
      }
    }
  }

  hr {
    border: 1px solid #ffffff;
    opacity: 0.43;
    width: 467px;
  }
}

body {
  .dayNames {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

    .weeks {
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
@media screen and (max-width: 480px) {
  .calendarWrapper {
    width: 100%;
  }
  .calendar {
    margin-left: 0;
    margin-top: 100px;
  }
}
